<<<<<<< HEAD
* {
box-sizing: border-box;

}

.top > h2 {
  font-size : 50px;
  font-weight : 700;
}

body {

    font: 300 100% 'Helvetica Neue', Helvetica, Arial;
    margin: 5px;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF !important;
}
.left-box {
    padding-top: 0px;
}
article {
    font-family: 'Helvetica Neue';
}

.container {
width: 50%;
margin: 0 auto;
}
ul.a {
    line-height: 193%;
    display: block !important;
    list-style-position: inside;
    list-style-type: square;


}
ul.a2 {
    line-height: 193%;
    font-size: 13px;
    display: block !important;
    list-style-position: inside;
    list-style-type: square;


}
.inline {
    display: inline;
}
.awardshead {
    font-weight: 150;
    font-family: 'Roboto';
}

a {
display: inline-block;
width: 25%;
padding: .75rem 0;
margin: 0;
text-decoration: none;
color: #333;
}
h2 {
    color: #333;
}
.two:hover ~ #red {
margin-left: 25%;
}

.three:hover ~ #red {
margin-left: 50%;
}

.four:hover ~ #red {
margin-left: 75%;
}

#red {
height: .25rem;
width: 25%;
margin: 0;
background: #4FC1E9;
border: none;
transition: .3s ease-in-out;
}

.mid-top {
  color:black;
}
.skyblue {
    color: skyblue;

}
.marginlef {
    margin-left: 10px;
    padding-bottom: 80px;
    color: #333 !important;
}
.line1 {
    line-height: 2.5;
}
.margin2 {
    text-align: right;
    margin-right: 12px;
    padding-top: 50px;
}
.margin3 {
    margin-bottom: 20px;
    color: #322 !important;
}
.orange {
    color:black;
}
.has-text-align-center {
    text-align : center;
}
ul {
    padding-left:0px;
}
.imgsty {
    opacity:0.5;
    position: relative;
}
.top {
    font-size: 22px;
    padding-top: 130px;
    padding-bottom: 50px;
}
.mcgallery {
    height: 500px !important;
    padding-bottom: 30px !important;
    display: grid;
    height: calc(100vh - 10px);
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 0.5em;
}
.mcgallery > div:nth-child(6n + 3) {
    grid-column: span 1;
    grid-row: span 2;
}
.mcgallery > div:nth-child(6n + 8) {
    grid-column: span 2;
    grid-row: span 2;
}
.mcgallery > div:nth-child(6n + 10) {
    grid-column: span 2;
}
.mcgallery > div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}
.mcgallery > div:nth-child(15) {
    grid-column: span 1;
    grid-row: span 1;
}
.mcgallery > div {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcgallery > div > img {
    width: 100%;
    min-height: 100%;
}
.footer {
    clear:both;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 80px !important;
}
.linewe1 {
    line-height: 1.8;
}
.linewe2 {
    line-height: 1.7;
}
.small {
    display: block;
    line-height: 0.6 !important;
    font-size: 10px;
}
.small2 {
    font-size: 14px;
}
.small3 {
    font-size: 13px;
}
.sizemodi {
    font-size:12px !important;
    line-height:0.6;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 a:link { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}
 a:visited { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}
 a:hover { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}

 .marginto {
    padding-top: 20px !important;
    color: #333;

    width: 100% !important;
 }

 .head1 {
    width: 100%;
    text-align: center;
    font-weight: 150;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-top: 30px;
 }

 .head2 {
    width: 100%;
    text-align: center;
    font-weight: 150;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-top: 60px;
 }

 h1 span {
    font-weight: 150;
 }

 .container2 {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }

 .container2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }

 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }

 .timeline-block-right {
    float: right;
 }

 .timeline-block-left {
    float: left;
    direction: rtl
 }

 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 100;
 }

 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
 }

 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }

 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
 }

 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }


 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }

    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }

=======
* {
box-sizing: border-box;

}
body {

    font: 300 100% 'Helvetica Neue', Helvetica, Arial;
    margin: 5px;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF !important;
}
.left-box {
    padding-top: 0px;
}
article {
    font-family: 'Helvetica Neue';
}

.container {
width: 50%;
margin: 0 auto;
}
ul.a {
    line-height: 193%;
    display: block !important;
    list-style-position: inside;
    list-style-type: square;


}
ul.a2 {
    line-height: 193%;
    font-size: 13px;
    display: block !important;
    list-style-position: inside;
    list-style-type: square;


}
.inline {
    display: inline;
}
.awardshead {
    font-weight: 150;
    font-family: 'Roboto';
}

a {
display: inline-block;
width: 25%;
padding: .75rem 0;
margin: 0;
text-decoration: none;
color: #333;
}
h2 {
    color: #040000;
}
.two:hover ~ #red {
margin-left: 25%;
}

.three:hover ~ #red {
margin-left: 50%;
}

.four:hover ~ #red {
margin-left: 75%;
}

.sub-menu {
  margin-top : 50px;
}

#red {
height: .25rem;
width: 25%;
margin: 0;
background: #4FC1E9;
border: none;
transition: .3s ease-in-out;
}

.mid-top {
  color:black;
}
.skyblue {
    color: skyblue;

}
.marginlef {
    margin-left: 10px;
    padding-bottom: 80px;
    color: #333 !important;
}
.line1 {
    line-height: 2.5;
}
.margin2 {
    text-align: right;
    margin-right: 12px;
    padding-top: 50px;
}
.margin3 {
    margin-bottom: 20px;
    color: #322 !important;
}
.orange {
    color:black;
}
.has-text-align-center {
    text-align : center;
}
ul {
    padding-left:0px;
}
.imgsty {
    opacity:0.5;
    position: relative;
}
.top {
    font-size: 22px;
    padding-top: 200px;
    padding-bottom: 50px;
    letter-spacing: 6px;
}
.mcgallery {
    height: 500px !important;
    padding-bottom: 30px !important;
    display: grid;
    height: calc(100vh - 10px);
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 0.5em;
}
.mcgallery > div:nth-child(6n + 3) {
    grid-column: span 1;
    grid-row: span 2;
}
.mcgallery > div:nth-child(6n + 8) {
    grid-column: span 2;
    grid-row: span 2;
}
.mcgallery > div:nth-child(6n + 10) {
    grid-column: span 2;
}
.mcgallery > div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}
.mcgallery > div:nth-child(15) {
    grid-column: span 1;
    grid-row: span 1;
}
.mcgallery > div {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcgallery > div > img {
    width: 100%;
    min-height: 100%;
}
.footer {
    clear:both;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 80px !important;
}
.linewe1 {
    line-height: 1.8;
}
.linewe2 {
    line-height: 1.7;
}
.small {
    display: block;
    line-height: 0.6 !important;
    font-size: 10px;
}
.small2 {
    font-size: 14px;
}
.small3 {
    font-size: 13px;
}
.sizemodi {
    font-size:12px !important;
    line-height:0.6;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 a:link { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}
 a:visited { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}
 a:hover { color: #777777; text-decoration: none; font-weight: bold; font-size:18px;}

 .marginto {
    padding-top: 20px !important;
    color: #333;

    width: 100% !important;
 }

 .head1 {
    width: 100%;
    text-align: center;
    font-weight: 150;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-top: 30px;
 }

 .head2 {
    width: 100%;
    text-align: center;
    font-weight: 150;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-top: 60px;
 }

 h1 span {
    font-weight: 150;
 }

 .container2 {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }

 .container2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }

 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }

 .timeline-block-right {
    float: right;
 }

 .timeline-block-left {
    float: left;
    direction: rtl
 }

 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 100;
 }

 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
 }

 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }

 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
 }

 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }


 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }

    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }

>>>>>>> b362c22fc27b8acd3b2cf632998adcfebbb7a4c4
