body {
	margin : 0;
	padding: 0;
	overflow-x: hidden;
}	

a {
	text-decoration: none;
	color: #00B7FF;
}

#header {
  position: fixed;
  z-index: 999;
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

#header a:hover {
  text-decoration: none;
}

#header ul,
#header li {
  list-style-type: none;
}

#header #navi h1 {
  position: fixed;
  top: 5px;
  left: 15px;
}

#header #navi #navi-center {
  display: flex;
  justify-content: space-between;
}

#header #navi ul li {
  margin: 30px;
}

#header #navi ul li a {
  color: #777777;
  font-weight: bold;
  font-size: 18px;
}

#header #navi ul li a:hover {
  color: black;
  transition: 0.3s ease;
}

.section{
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
	width:  80vw;
	min-height : 80vh;
	margin : 0 auto 20vh;
	box-sizing: border-box;
}

#section1 {
	align-content: center;
}

#section1 > h2{
	text-align : center;
	margin-top: 30vh;
	font-size: 3rem;
}


#section1 > p {
	margin : 5vh 0 10vh;
	overflow: hidden;
	width: 40vw;
	font-size : 1rem;
}

.current-course{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 30vw;
	box-shadow: 0 0 1vw 1vw rgba(200,200,200,0.05);

	border-radius: 1rem;
	border : 1px solid #eee ;
}

#current-course_name {
	color : white;
	background-color: #aaa;
	padding: 0.5rem;
	margin: 0;
	border-radius: 1rem;
}

.current-course  a{
	margin-right : 1rem;
}

a.class-btn {
	/*padding: 0.5rem 1.2rem;*/
	border-radius: 1rem;
	color : black;
}

a.class-btn::before {
	content :' ';
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border : 0.05rem solid white;
	border-radius: 0.15rem;
	transform: translate(-120%,-15%);
	transition-duration: 0.2s;
}

a.class-btn:hover{
	color: #00B7FF;
}

a.class-btn:hover::before{
	background-color: #00B7FF;	
	border-color :#00B7FF;
}

#section2 {
	position: relative;
	width: 100vw;
	color:black;
	overflow-y: hidden;
	z-index: 1;
}

#section2_content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.coursebox_content {
	height: 100%;
	opacity: 1;
	overflow: hidden;


	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

.coursebox_content.hidden {
	height: 0;
	opacity: 0;
}



#aboutSection{
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
	align-self: center;
	box-shadow: 0 0 1vw 1vw rgba(200,200,200,0.05);

}

#aboutNav{
	display: flex;
	justify-content: space-around;
	list-style: none;
	min-width: 22vw;

	padding: 0.4rem;
	border-radius: 1rem;
	cursor: pointer;
}

#aboutNav > li {
	font-weight: bold;
	color: #aaa;
}

#aboutNav > li:hover {
	color : #00B7FF;
}

#aboutNav > li.selected {
	color: #00B7FF;
}

#aboutContent{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 70vh;
	z-index: 3;
}

.content{
	position: absolute;
	bottom:0;
	margin : 0;
	display : flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 0;
	opacity : 0;
	z-index: -1;
}

.content > .coursebox {
	text-align: center;
	width: 25vw;
	min-width: 150px;
	height: 30vh;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content.selected{
	height: 70vh;
	opacity: 1;
	z-index: 6;
}

.coursebox_name{
	width:20vw;
	margin: 0 auto 5vh;
	margin-bottom: 5vh;
	transition-duration: 0.6s;
	transition-timing-function: ease-in;
}	
.coursebox_name  h4 {
	margin: 0rem;
}

.coursebox.selected .coursebox_name {
	/*margin-bottom: 7vh;*/
}

.coursebox_content{
	color:#444;
}

.coursebox_btn {
	margin-top:2vh;
	padding: 0.5rem;
	/*color:#aaa;*/
	background-color:#aaa;
	border : 1px solid #aaa;
	border-radius: 1rem;
	transition-duration: 0.5s;

	font-weight: bold;
}
.coursebox_btn:hover{
	background-color: #00B7FF;
	border : 1px solid  #00B7FF;
	padding: 0.8rem;
	color: white;
	cursor: pointer;

}


.a11y-hidden {
	position : absolute;
	height : 1px;
	width : 1px;
	overflow : hidden;
	clip : rect(1px,1px,1px,1px);
	white-space: nowrap;
}

/*#section1 > h2:hover{
	transform : rotateY(120deg);
	backface-visibility: hidden;
	transition-property: transform;
	transition-duration: 0.5s;
}*/

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(240,240,240,1);
}