body {
	margin : 0;
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*		background:  linear-gradient(180deg,rgba(200, 200, 200,1),rgba(200,200,200,0) 50%),
				linear-gradient(90deg, rgba(255, 255, 255,1),rgba(242, 230, 184,0) 32.1%);
*/
/*	background:  linear-gradient(120deg,rgba(108, 154, 197,1),rgba(108, 154, 197,0) 70%),
			linear-gradient(231deg, rgba(217, 142, 165	,1),rgba(217, 142, 165,0) 70%);
*/
	background:  linear-gradient(120deg,rgba(41, 129, 192,1),rgba(108, 154, 197,0) 70%),
			linear-gradient(231deg, rgba(117, 116, 188	,1),rgba(117, 116, 188,0) 70%),	
			url("/images/background.svg") left top  no-repeat;
/*background-blend-mode: screen;*/

	/*	text-shadow: 0 0 3px rgba(232, 194, 191, 0.3);
*/
overflow-x: hidden;
}	

a {
	text-decoration: none;
	color: #00B7FF;
}

#navbar {
	position : absolute;
	top:0;
	left: 50%;
	margin : 0 auto;
	display : flex;
	align-items: center;
	justify-content: space-between;
	width : 80vw;
	height: 15vh;
	opacity: 1;
	transform : translateX(-50%);
	background-color: #efefef;
	transition-property: opacity, height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;	
	z-index: 5;
}

#navbar.hidden{
	opacity: 0;
	height: 0;
}

#navbar > ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	width: 30vw;
}



#header {
	position: relative;
	margin : 5vh auto 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 0 5vh 5vh;
	width: 80vw;
	color: white;
	text-shadow: 0 1vh 1vw rgba(0,0,0,0.2);
	z-index: 3;
}
#header.fixed {
	position: relative;
	top: 0;
}

#header.sticky{
	position: sticky;
	padding : 1vw;
	top :0;
	box-shadow: 0 1vh 1vw rgba(100,100,100,0.2);
	text-shadow: 0 1vh 0.5vw rgba(0,0,0,0.2);
}
.dropdown-btn{
	padding: 0.5rem;
	border : 0.1rem solid #efefef;
	border-radius : 0.5rem;
	width: 5rem;
	height: 2.3rem;

	font-weight: bold;
	color: white;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 1vh 1vw rgba(0,0,0,0.2);
	text-shadow: 0 1vh 1vw rgba(0,0,0,0.2);
}

#header.sticky .dropdown-btn{
	background-color: gradient(0deg,rgba(255,255,255,0.1),rgba(100,100,100,0.8),rgba(255,255,255,0.1));

	filter: hue(0.2);
}

.dropdown-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	border-radius: 0.5rem;
	width: 5rem;
	
	opacity :1;
	z-index: 3;

	transform : translate(0,-2.3rem);
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	
}

.dropdown-content.a11y-hidden{
	opacity: 0;
}
.dropdown-list {
	margin: 0.2rem auto;
}
.dropdown-list:hover{
	color : red;
}


.section{
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	width:  80vw;
	min-height : 80vh;
	margin : 0 auto 1vh;
	box-sizing: border-box;
	background-color: linear-gradient(180deg, rgba(255,255,255,0.2), rgba(255,255,255,0));
}

#section1 {
	padding-left: 0;
	height: 80vh;
	color: white;
	text-shadow: 0 1vh 1vw rgba(0,0,0,0.2);
	z-index: 2;
}

#section1 > h2{
	margin-top: 30vh;
	font-size: 3rem;
}


#section1 > p {
	margin : 0 0 15vh;
	overflow: hidden;
	width: 40vw;
	font-size : 1rem;
}

.current-course{
	position: absolute;
	bottom: 3vh;
	left: 50%;
	transform : translate(-50%);
	display: flex;
	justify-content: space-around;
	width: 30vw;
}

a.class-btn {

	padding: 0.5rem 1.2rem;
	border-radius: 1rem;
	/*border : 1px solid white	;*/
	/*background: linear-gradient(160deg,rgb(239, 108, 112),rgb(250, 216, 49));*/
	/*background: linear-gradient(160deg,rgba(255, 255, 255, 0.5 ),rgba(255,255,255,0));*/
	color: white;
}

a.class-btn::before {
	content :' ';
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border : 0.05rem solid white;
	border-radius: 0.15rem;
	transform: translate(-120%,-15%);
	transition-duration: 0.2s;
}

a.class-btn:hover{
	color: red;
}

a.class-btn:hover::before{
	background-color: red;	
	border-color :red;
}

#section2 {
	position: relative;
	/*transform : translateY(-5%);*/
	width: 100vw;
	color:black;
	filter: drop-shadow(0,0,5vw,rgba(0,0,0,0.3));
	overflow-y: hidden;
	z-index: 1;
}

#section2_content{
	display: flex;
	padding: 85vh 20vw 0 10vw;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	height: 170vh;
	clip-path: url(#section2_clip);
}

#aboutSection{
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: flex-start;
	height: 90vh;
	transform: translateY(-45%);
}

#aboutNav{
	display: flex;
	justify-content: space-around;
	list-style: none;
	min-width: 22vw;

	border-radius: 0.5rem;
	background : linear-gradient(40deg, rgba(0, 91, 155,0.8),rgba(0, 91, 155,0.3));
	text-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
	color:white;
	padding: 0.4rem;
	z-index: 3;
}

#aboutNav > li {
	font-weight: bold;
	/*color : #00B7FF;*/
}

#aboutNav > li:hover {
	color : red;
}


#aboutContent{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 70vh;
	z-index: 3;
	overflow-y: visible;
	overflow-x: scroll;
}

.content{
	position: absolute;
	bottom:0;
	margin : 0;
	display : flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	width: calc(170vh/1048*1219/10*8);
	height: 0;
	opacity : 0;
	z-index: -1;
}

.content > .coursebox {
	text-align: center;
	width: 20vw;
	min-width: 150px;
	height: 30vh;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content.selected{
	height: 70vh;
	opacity: 1;
	z-index: 6;
}


.a11y-hidden {
	position : absolute;
	height : 1px;
	width : 1px;
	overflow : hidden;
	clip : rect(1px,1px,1px,1px);
	white-space: nowrap;
}

/*#section1 > h2:hover{
	transform : rotateY(120deg);
	backface-visibility: hidden;
	transition-property: transform;
	transition-duration: 0.5s;
}*/

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(240,240,240,1);
}