#header {
	margin-bottom: 5vh;
}

.frame{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	margin: 0vh auto 10vh;
	border-radius: 5vw;
	background-color: rgb(255,255,250);
	box-shadow:  0 0 10vw rgba(0,0,0,0.4);
	overflow-x: visible;
	overflow-y: hidden;
}

.frame.selected {
	min-height: 80vh;
	width: 80vw;
	opacity: 1;
}

.frame.deselected{
	min-height: 0;
	height: 1px;
	width: 1px;
	margin :0;
	opacity: 0;
	overflow : hidden;
	clip : rect(1px,1px,1px,1px);
	white-space: nowrap;
}

#content1{
	align-items: flex-start;
}

#content1  h2{
	display: block;
	max-width: 7vw;
	text-align: center; 
	padding : 0.3rem 0;
	border-radius: 0.3rem;
	background-color: rgb(0, 91, 155);
	/*background-color: rgb(0, 91, 165);*/
	/*background-color: rgb(185, 31, 87);*/
	/*background: linear-gradient(40deg,rgb(141, 129, 192),rgb(217, 116, 188));*/
	color: white;
	font-size: 1rem;
}

#content1 > div{
	display: flex;
	padding-top: 5vh;
	box-sizing: border-box;
	width: calc(75vw/2);
	min-height: 80vh;
}

#Timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	padding : 0 2.5vw 5vw;
}

.time_slot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(35vw);
}

.time_slot.deselected{
	height: 0;
	opacity: 0;
}

.time_slot:hover{
	background-color: rgba(0,0,0,0.1);
}

.date{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top :0.9rem;
	padding-right: 1vw;
	box-sizing: border-box;
	width: calc(35vw/3);
}

.slot_content{
	box-sizing: border-box;
	padding : 1vh 0  1vh 3vw;
	width: calc(35vw/3*2);
	border-left: 1px solid blue;
}

.slot_content.class::before {
	content :' ';
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border : 0.05rem solid black;
	border-radius: 0.15rem;
	transform: translate( calc(-3vw - 0.3rem),600%);
	transition-duration: 0.2s;
}
.slot_contentbox{
	box-sizing: border-box;
	padding: 1vw;
	border-radius: 1rem;
	background-color: rgba(0,0,0,0.1);
}
.slot_contentbox::before{
	content :' ';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent; 
	border-right:1rem solid rgba(0,0,0,0.1); 
	transform: translate(calc(-100% - 1vw),50%);
}
.slot_contentbox >h4{
	margin: 0.1rem 0;
	border-bottom : 1px solid black;
}
.weekbox{
	padding-top: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}		

.week{

	align-self: center;
	text-align: center;
	margin: 0;
	width: 50px;
	box-sizing: border-box;
	background-color : black;
	color: white;
}
.week:before{
	width:0;
	height:0;
}

#timeline_btn {
	position: absolute;
	font-weight: bold;
	color: blue;
	bottom: 5vh;
	align-self: center;
	z-index: 3;
}

#Home{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 0;
}

#Home > div{


	width:35vw;
	min-height: 35vh;
	box-sizing: border-box;
	/*padding: 0 5vw;*/
	/*background-color: red;*/
}

#Inform {
	display: flex;
	flex-direction: column;
}

#Inform > div{
	border-width: 0 0 1px 0 ; 
	border-style :solid;
	border-image-source:  linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,255,0.2),rgb(0,0,0,0));
	 border-image-slice: 1;
	 padding-bottom: 2vh;
	 margin-bottom: 3vh;
	/* border-image :linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%)*/;
}
#Lecturer_Assitants {
	display: flex;
	flex-direction: column;
}
#Lecturer_Assitants > div{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	/*flex-wrap: wrap;*/
}
#Lecturer_Assitants  ul{
	width: 10vw;
	margin: 0 2vw;
}
#class_section > ul{
	display: flex;
	flex-direction: row;
}
#content2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#pbl_objective {	
	display: flex;
	height: 60vh;
	flex-direction: column;
	justify-content: center;
}

#pbl_GGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height:60vh;
	opacity: 1;	
}

#pbl_GGroup > div  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#sec1btn{
	min-width: 
}

#pbl_GGroup.fold{
	height: 0;
	min-height: 0;
	opacity: 0;
}

.pbl_group_container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 30vh;
	width: 30vw;
	margin: 2.5vh 2.5vh;
	box-sizing: border-box;
	padding : 2vh 2vw;
	border : 1px solid rgba(200,200,200,0.5);
	box-shadow: 0 0 2vw rgba(150,150,150,0.2);
	border-radius: 1.5vw;
	font-size:  0.8rem;
	background-image: url("/images/dd.svg");
	background-position: top  70% right -90%;
	background-repeat: no-repeat;
}

.pbl_group_container > h4{
	position: absolute;
	top: 1vh;
	font-size: 1rem;
}

.pbl_group_list{

	display: flex;
	flex-direction: row;
	flex-wrap : wrap;
	justify-content: flex-start;
	width: 12vw;
	margin :10vh 0 0;
	padding : 0;
	list-style: none;		
}
.pbl_group_list > li {
	margin: 0 0.5rem 0 0;
}

