/* Team Member CSS
===========================*/

/* #membermain {
    color: black;
} */

h2.team-h2 {
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  /* font-style: italic; */
  padding: 0px 20px;
  color: #222;
  clear: both;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-bottom: 0;
}

.team-container {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 5em;
  margin-top: 3em;
}

.team-member {
  width: 15%;
  float: left;
  max-width: 15%;
  text-align: center;
  /* margin-right: 2%; */
  margin-bottom: 4%;
  border-right: 1px #e9e9e9 solid;
  padding: 15px 2%;
  margin-top: 2%;
}

.phd .team-member:nth-child(5n + 1),
.me .team-member:nth-child(5n + 1),
.intern .team-member:nth-child(5n + 1),
.alumni .team-member:nth-child(5n + 1) {
  border-left: 1px #e9e9e9 solid;
  margin-left: 2%;
}

.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
  word-break: break-all;
  color: black;
}

.team-member span ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member h3 {
  color: #1ca3a3;
}

.email {
  color: #1ca3a3;
}

.email:hover {
  color: #ea2678;
}

.team-member span {
  display: block;
}

.team-photo {
  border-radius: 3px;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

#prof {
  float: none;
  display: block;
  margin: 2% auto;
  margin-bottom: 5%;
  border-left: 1px #e9e9e9 solid;
}

/* code for phone layout */

@media (max-width: 850px) {
  .team-member {
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}

.title {
  color: #040000;
  margin: 70px auto 0;
  padding: 0 0;
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 30px;
  line-height: initial;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  /* border-bottom: 2px #e9e9e9 solid; */
}

body {
  background: white;
}

/* ENDS Team Member CSS
===========================*/
