html,
body,
div,
ul,
li,
h1,
a,
form,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
}

body {
  color: white;
  background-color: black;
}

div {
  display: block;
}


/* header */

#header {
  position: fixed;
  z-index: 999;
  background-color: #f5f5f5;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header #navi h1 {
  position: fixed;
  top: 5px;
  left: 15px;
}

#header #navi #navi-center {
  display: flex;
  justify-content: space-between;
}

#header #navi ul li {
  margin: 30px;
}

#header #navi ul li a {
  color: #777777;
  font-weight: bold;
  font-size: 18px;
}

#header #navi ul li a:hover {
  color: black;
  transition: 0.3s ease;
}

/* about */

#about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#about-content #text-box {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 50vh;
}

#about-content #text-box #text-box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 25px;
}

#about-content #text-box #text-box-bot {
  display: flex;
  justify-content: center;
  height: 50%;
  font-size: 70px;
  font-weight: bold;
}

/* research */

#research-content {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

#research-content .res-container {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#research-content .res-container:nth-child(5) {
  border-right: none;
}

#research-content .res-text {
  text-align: center;
  line-height: 1.4;
  white-space: pre-line;
  font-size: 1.1em;
  font-weight: bold;
}

/* contact */

#contact-content {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#contact-content #contact-box {
  display: flex;
  width: 80%;
  height: 80vh;
}

#contact-content #contact-box #text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #3d3d3d;
}

#contact-content #contact-box #form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: white;
}

#contact-content #contact-box #form-box #form1 {
  padding: 25px;
  width: 80%;
}

#contact-content #contact-box #form-box #form1 fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form1 input[type="text"],
#form1 input[type="email"],
#form1 input[type="tel"],
#form1 input[type="url"],
#form1 textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#form1 input[type="text"]:hover,
#form1 input[type="email"]:hover,
#form1 input[type="tel"]:hover,
#form1 input[type="url"]:hover,
#form1 textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form1 textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form1 input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form1 input[type="submit"]:hover {
  background: #43a047;
  transition: background-color 0.3s ease-in-out;
}
