body{
  overflow-y: scroll;
}

#pub-text {
  margin : 0px auto;
  letter-spacing: 6px;
  font-size: 50px;
  text-align : center;
  padding-top : 200px;
  font-weight : 700;
}

#contents {
  width : 800px;
  margin : 5% auto;
  margin-top : 100px;
}

#contents > h1{
  margin-left : 20px;
}

#contents a{
  text-decoration : none;
  color : #444;
}

#filter > h2{
  display : inline;
  font-size : 20px;
  color: #444;
}

#filter > select{
  margin-bottom : 10px;
  color: #444;
}

#filter {
  float : right;
  margin-right : 20px;
  margin-bottom : 10px;
}

#input-form {
  margin-bottom : 30px;
  border : 5px solid #eee;
  border-radius : 50px;
  width : 787px;
  height : 45px;
}

#input-form > img {
  float : left;
  width : 25px;
  position : relative;
  left : 15px;
  top : 10px;
}

#input-form > input {
  border : none;
  position : relative;
  left : 25px;
  top : 2px;
  margin : 0px;
  height : 40px;
  width : 720px;
  font-size : 22px;
  background-color : none;
  outline : none;
}

.accordion {
  font-size : 18px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius : 40px 40px 40px 40px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 2px 13px 2px 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.panel :first-child > p{
  padding-top : 5px;
}

.panel :last-child > p{
  margin-bottom : 0px;
}

.panel > .list {
  margin : 0px;
}

.panel > .list img{
  width : 30px;
  float : right;
  position : relative;
  right : -5px;
  bottom : 44px;
}

.panel :last-child > a > img{
  margin-bottom : 0px;
  bottom : 30px;
}

.panel > .list p{
  font-size : 12px;
  margin-top : 5px;
  width : 763px;
}

.panel > .list > hr{
  width : 780px;
  margin-top : -5px;
}

.selected{
  opacity : 0;
}

.selected p{
  opacity : 0;
  height : 0;
  margin : 0px;
}

.selected hr{
  width : 0px;
  margin : 0;
  border : none;
}

.return-top {
  right:18%;
  bottom:70px;
  display : none;
  position: fixed;
  z-index:9999999999;
}

.return-top > img{
    width : 40px;
}
