.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #white;
    width: 10%;
    height: 300px;
}
/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 39.1px 16px;
    width: 100%;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top: none;
    border-right: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #8CF0FF;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #8CF0FF;
}

/* Style the tab content */
.tabcontent {
    color: #322 !important;
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 90%;
    border-left: none;
    height: 300px;
    text-align: left !important;
}
.tab1 {
    float: right;
    border: 1px solid #ccc;
    background-color: #8CF0FF;
    width: 10%;
    height: 300px;
}
/* Style the buttons inside the tab */
.tab1 button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 40px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab1 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent2 {
    color: #322 !important;
    float: right;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 90%;
    border-left: none;
    height: 300px;
    text-align: right !important;
}