/* navigation bar */
article {
  margin-top: 0;
}

.collapsed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 80px;
  padding: 10px 30px;

  transition: all 0.25s ease;

  background-color: transparent;
  border-bottom: none;
}

.collapsed .nav-item-anchor,
.collapsed .nav-item-anchor:hover,
.collapsed .nav-item-anchor.active {
  color: #ced4da;
}

.collapsed .nav-item-anchor:after {
  border-bottom: 2px solid black;
}

.intro-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.research {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.research-fields {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.research-field {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3% 0 3%;
}

.res-info {
  margin-top: 10px;
  text-align: center;
  line-height: 1.4;
  white-space: pre-line;
  font-size: 1.1em;
  font-weight: bold;
}

.res h1 {
  text-align: center;
  font-size: 40px;
}

.contact-div {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
}

.map-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

#map {
  height: 500px;
  width: 40%;
  margin: 30px;
}

#form {
  width: 40%;
  margin: 30px;
}

#form1 {
  background: #f9f9f9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form1 h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form1 input[type="text"],
#form1 input[type="email"],
#form1 input[type="tel"],
#form1 input[type="url"],
#form1 textarea {
  width: 95%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#form1 input[type="text"]:hover,
#form1 input[type="email"]:hover,
#form1 input[type="tel"]:hover,
#form1 input[type="url"]:hover,
#form1 textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form1 textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form1 input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form1 input[type="submit"]:hover {
  background: #43a047;
  transition: background-color 0.3s ease-in-out;
}
